[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
pydantic = "*"
uvicorn = "*"
langchain_google_genai = "*"
langgraph = "*"

[requires]
python_version = "3.11"